body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

h1 {
    grid-row: 2;
    grid-column: 1 / span 2;
    text-align: center;
    color: goldenrod;
}
#companyName{
    font-size: xxx-large;
}
#logo{
    grid-row: 1;
    grid-column: 1 / span 2;
    place-content: center;
}
.country{
    border-style: double;
    border-radius: 10px;
    border-color: darkgoldenrod;
    border-width: 1px 4px ;
}
#picture{
    grid-row: 3;
    grid-column: 1 / span 2;
    place-content: center;
}
.pic{
    grid-row: 5;
    grid-column: 1 / span 2;
    place-content: center;
}
.menu{
    display: flex;
    place-content: center;
    grid-row: 4;
    grid-column: 1 / span 2;
    flex-direction: row;
}
.menuF{
    display: flex;
    grid-row: 8;
    grid-column: 1;
    place-content: center;
    flex-direction: column;


}
.menuM{
    display: flex;
    grid-row: 8;
    grid-column: 2;
    place-content: center;
    flex-direction: column;
}
h3{
    margin: auto;
    color: gold;
}
h2{
    grid-row: 6;
    grid-column: 1 / span 2;
    margin: auto;
    place-content: center;
    color: darkgoldenrod;
}

.day {
    cursor: pointer;
    margin: 4px;
    padding: 1px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: bisque;
    color: darkred;
}
.schedule {
    display: none;
    margin: auto;
    color: darkred;
}
#order{
    grid-row: 9;
    grid-column: 1/ span 2;
    border-style: double;
    border-radius: 10px;
    border-color: darkgoldenrod;
    border-width: 1px 4px ;
}
